<section class="bg-grey-60/25">
    <div class="container py-10">
        <h3 class="mb-4 text-2xl uppercase text-secondary">Aktuality</h3>
        <div class="mb-8 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
            @@for(i = 0; i < 4; i++) {
            <a href="#" class="group">
                <article>
                    <div>
                        <span class="mb-2 inline-block bg-primary px-2 py-1 text-sm font-bold text-white">22. 8. 2023</span>
                        <h2 class="link-underline link-underline-group line-clamp-3 text-2xl font-bold">
                            1. V prvním říjnovém utkání se áčko představí na ledě Děčína
                        </h2>
                    </div>
                </article>
            </a>
            }
        </div>
        <div class="flex justify-center">
            <a class="btn" href="archive.html">Všechny aktuality</a>
        </div>
    </div>
</section>
