<section class="bg-grey-60/25">
    <div class="container py-10">
        <h3 class="mb-4 text-2xl uppercase text-secondary">Sociální sítě</h3>
        <div class="mb-8 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
            @@for(i = 0; i < 4; i++) {
            <div class="group">
                <article>
                    <a href="#" class="relative mb-4 overflow-hidden">
                        <img
                            class="aspect-[3/2] w-full object-cover transition-transform group-hover:scale-105"
                            src="https://picsum.photos/297/198"
                            srcset="https://picsum.photos/297/198 297px, https://picsum.photos/440/293 440w"
                            sizes="(min-width: 1016px) 297px, calc(100vw - 24px)"
                            width="297"
                            height="198"
                            alt=""
                            loading="lazy"
                        />
                        <span class="absolute right-2 top-2 inline-block rounded-xl bg-primary">
                            <svg class="fill-primary" width="24" height="24">
                                <use href="#facebook"></use>
                            </svg>
                        </span>
                    </a>
                    <div>
                        <span class="mb-2 inline-block bg-primary px-2 py-1 text-sm font-bold text-white">22. 8. 2023</span>

                        <p class="block font-medium">
                            👀 Akademické mistrovství ČR ve sportovní střelbě pohledem fotografa 🔥<br /><br /><a
                                class="text-primary"
                                href="https://www.facebook.com/hashtag/caus?source=feed_text&story_id='.587472331443876_1319794810153344.'"
                                >#caus</a
                            >
                            <a
                                class="text-primary"
                                href="https://www.facebook.com/hashtag/czechuniversitysport?source=feed_text&story_id='.587472331443876_1319794810153344.'"
                                >#czechuniversitysport</a
                            >
                            <a
                                class="text-primary"
                                href="https://www.facebook.com/hashtag/am?source=feed_text&story_id='.587472331443876_1319794810153344.'"
                                >#amčr</a
                            >
                            <a
                                class="text-primary"
                                href="https://www.facebook.com/hashtag/sportovnistrelba?source=feed_text&story_id='.587472331443876_1319794810153344.'"
                                >#sportovnistrelba</a
                            >
                            <a
                                class="text-primary"
                                href="https://www.facebook.com/hashtag/sport?source=feed_text&story_id='.587472331443876_1319794810153344.'"
                                >#sport</a
                            >
                        </p>
                    </div>
                </article>
            </div>
            }
        </div>
    </div>
</section>
