<section class="container my-10" aria-label="Statistiky A-týmu">
    <h3 class="text-secondary mb-4 text-2xl uppercase">Statistiky A-týmu</h3>
    <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-5">
        @@for(i = 0; i < 5; i++) {
        <li class="grid grid-cols-[64px_1fr] gap-4">
            <img class="aspect-square w-full rounded-full object-cover object-top" src="https://placehold.co/64" width="64" height="64" alt="" />
            <div>
                <span class="text-xl font-bold text-primary">4 body</span>
                <h4 class="text-lg text-grey-100">Velmi dlouhé jméno</h4>
            </div>
        </li>
        }
    </ul>
</section>
