<section class="relative w-full lg:aspect-[16/9] xl:aspect-[22/9]" aria-label="TOP Články">
    <div class="lg:container lg:grid lg:h-full lg:grid-cols-3 lg:items-end lg:gap-10 lg:pb-6 2xl:pb-12">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:col-span-2 lg:grid-cols-1">
            <article
                class="topstory-article on lg:before:absolute lg:before:inset-0 lg:before:z-1 lg:before:bg-gradient-to-t lg:before:from-black lg:before:to-transparent"
                id="topstory-article-1"
            >
                <img
                    class="aspect-[3/2] w-full object-cover lg:absolute lg:inset-0 lg:h-full"
                    src="https://picsum.photos/1920/786"
                    srcset="https://picsum.photos/664/443 664w, https://picsum.photos/1920/786 1920w"
                    sizes="100vw"
                    width="1920"
                    height="786"
                    loading="lazy"
                    alt=""
                />
                <div class="relative z-1 px-3 py-4 lg:p-0">
                    <div class="mb-2 flex gap-2 lg:mb-4">
                        <span class="inline-block bg-primary px-2 py-1 text-sm font-bold text-white">A-tým</span>
                        <span class="inline-block bg-primary px-2 py-1 text-sm font-bold text-white">Dnes</span>
                    </div>
                    <h1 class="line-clamp-3 text-2xl uppercase text-secondary lg:text-4xl lg:text-white">
                        <a href="#" class="link-underline link-underline-normal"> 1. V prvním říjnovém utkání se áčko představí na ledě Děčína </a>
                    </h1>
                </div>
            </article>
            <article
                class="topstory-article lg:before:absolute lg:before:inset-0 lg:before:z-1 lg:before:bg-gradient-to-t lg:before:from-black lg:before:to-transparent"
                id="topstory-article-2"
            >
                <img
                    class="aspect-[3/2] w-full object-cover lg:absolute lg:inset-0 lg:h-full"
                    src="https://picsum.photos/1920/786"
                    srcset="https://picsum.photos/664/443 664w, https://picsum.photos/1920/786 1920w"
                    sizes="100vw"
                    width="1920"
                    height="786"
                    loading="lazy"
                    alt=""
                />
                <div class="relative z-1 px-3 py-4 lg:p-0">
                    <div class="mb-2 flex gap-2 lg:mb-4">
                        <span class="inline-block bg-primary px-2 py-1 text-sm font-bold text-white">A-tým</span>
                        <span class="inline-block bg-primary px-2 py-1 text-sm font-bold text-white">Dnes</span>
                    </div>
                    <h1 class="line-clamp-3 text-2xl uppercase text-secondary lg:text-4xl lg:text-white">
                        <a href="#" class="link-underline link-underline-normal"> 2. V prvním říjnovém utkání se áčko představí na ledě Děčína </a>
                    </h1>
                </div>
            </article>
            <article
                class="topstory-article lg:before:absolute lg:before:inset-0 lg:before:z-1 lg:before:bg-gradient-to-t lg:before:from-black lg:before:to-transparent"
                id="topstory-article-3"
            >
                <img
                    class="aspect-[3/2] w-full object-cover lg:absolute lg:inset-0 lg:h-full"
                    src="https://picsum.photos/1920/786"
                    srcset="https://picsum.photos/664/443 664w, https://picsum.photos/1920/786 1920w"
                    sizes="100vw"
                    width="1920"
                    height="786"
                    loading="lazy"
                    alt=""
                />
                <div class="relative z-1 px-3 py-4 lg:p-0">
                    <div class="mb-2 flex gap-2 lg:mb-4">
                        <span class="inline-block bg-primary px-2 py-1 text-sm font-bold text-white">A-tým</span>
                        <span class="inline-block bg-primary px-2 py-1 text-sm font-bold text-white">Dnes</span>
                    </div>
                    <h1 class="line-clamp-3 text-2xl uppercase text-secondary lg:text-4xl lg:text-white">
                        <a href="#" class="link-underline link-underline-normal"> 3. V prvním říjnovém utkání se áčko představí na ledě Děčína </a>
                    </h1>
                </div>
            </article>
            <article
                class="topstory-article lg:before:absolute lg:before:inset-0 lg:before:z-1 lg:before:bg-gradient-to-t lg:before:from-black lg:before:to-transparent"
                id="topstory-article-4"
            >
                <img
                    class="aspect-[3/2] w-full object-cover lg:absolute lg:inset-0 lg:h-full"
                    src="https://picsum.photos/1920/786"
                    srcset="https://picsum.photos/664/443 664w, https://picsum.photos/1920/786 1920w"
                    sizes="100vw"
                    width="1920"
                    height="786"
                    loading="lazy"
                    alt=""
                />
                <div class="relative z-1 px-3 py-4 lg:p-0">
                    <div class="mb-2 flex gap-2 lg:mb-4">
                        <span class="inline-block bg-primary px-2 py-1 text-sm font-bold text-white">A-tým</span>
                        <span class="inline-block bg-primary px-2 py-1 text-sm font-bold text-white">Dnes</span>
                    </div>
                    <h1 class="line-clamp-3 text-2xl uppercase text-secondary lg:text-4xl lg:text-white">
                        <a href="#" class="link-underline link-underline-normal"> 4. V prvním říjnovém utkání se áčko představí na ledě Děčína </a>
                    </h1>
                </div>
            </article>
        </div>
        <ul class="relative z-1 hidden lg:col-span-1 lg:flex lg:flex-col lg:gap-6">
            <li class="topstory-nav-item on" data-topstory="1">
                <a href="#" class="group block pl-4">
                    <span class="mb-2 inline-block bg-primary px-2 py-1 text-sm font-bold text-white">Mládež</span>
                    <h3 class="link-underline link-underline-group line-clamp-2 text-xl uppercase text-white">
                        1. V prvním říjnovém utkání se áčko představí na ledě Děčína
                    </h3>
                </a>
            </li>
            <li class="topstory-nav-item" data-topstory="2">
                <a href="#" class="group block pl-4">
                    <span class="mb-2 inline-block bg-primary px-2 py-1 text-sm font-bold text-white">Mládež</span>
                    <h3 class="link-underline link-underline-group line-clamp-2 text-xl uppercase text-white">
                        2. V prvním říjnovém utkání se áčko představí na ledě Děčína
                    </h3>
                </a>
            </li>
            <li class="topstory-nav-item" data-topstory="3">
                <a href="#" class="group block pl-4">
                    <span class="mb-2 inline-block bg-primary px-2 py-1 text-sm font-bold text-white">Mládež</span>
                    <h3 class="link-underline link-underline-group line-clamp-2 text-xl uppercase text-white">
                        3. V prvním říjnovém utkání se áčko představí na ledě Děčína
                    </h3>
                </a>
            </li>
            <li class="topstory-nav-item" data-topstory="4">
                <a href="#" class="group block pl-4">
                    <span class="mb-2 inline-block bg-primary px-2 py-1 text-sm font-bold text-white">Mládež</span>
                    <h3 class="link-underline link-underline-group line-clamp-2 text-xl uppercase text-white">
                        4. V prvním říjnovém utkání se áčko představí na ledě Děčína
                    </h3>
                </a>
            </li>
        </ul>
    </div>
</section>
<script src="./dist/js/topstory.js" async></script>
