<section class="lg:col-span-3" aria-label="Mládež">
    <h3 class="mb-4 text-2xl uppercase text-secondary">Mládež</h3>
    <ul class="lg:col-span-2">
        @@for(i = 1; i < 6; i++) {
        <li>
            <details class="group bg-primary">
                <summary class="flex w-full cursor-pointer items-center justify-between border-t border-t-white/25 px-4 py-3 marker:hidden">
                    <span class="font-bold text-white">Kategorie `+i+`</span>
                    <svg width="20" height="20" class="hidden fill-white group-open:block">
                        <use href="#minus"></use>
                    </svg>
                    <svg width="20" height="20" class="block fill-white group-open:hidden">
                        <use href="#plus"></use>
                    </svg>
                </summary>
                <ul class="flex flex-col gap-2 px-4 pb-3">
                    <li><a class="link-underline link-underline-normal text-white" href="matches.html">zápasy</a></li>
                    <li><a class="link-underline link-underline-normal text-white" href="stats.html">statistiky</a></li>
                    <li><a class="link-underline link-underline-normal text-white" href="roster.html">soupiska</a></li>
                    <li><a class="link-underline link-underline-normal text-white" href="standings.html">tabulka</a></li>
                </ul>
            </details>
        </li>
        }
    </ul>
</section>
