<footer class="bg-secondary text-white">
    <div class="container py-10">
        <ul class="mb-10 grid grid-cols-1 gap-10 md:grid-cols-6 lg:grid-cols-7">
            <li class="col-span-6 lg:col-span-1">
                <a href="index.html" class="z-100 block">
                    <img
                        class="mx-auto rounded-full object-contain lg:mx-0"
                        src="./dist/img/logo.jpeg"
                        width="148"
                        height="148"
                        loading="lazy"
                        alt=""
                    />
                </a>
            </li>
            <li class="col-span-6 md:col-span-3">
                <div class="mb-4 text-2xl uppercase text-white">Informace o klubu</div>
                <p class="text-left leading-7">
                    <span class="fw-bold text-lg">Hokejový klub Lomnice nad Popelkou, z.s.</span>
                    <br />
                    <span class="fw-bold text-lg">Sídlo:</span> Lomnice nad Popelkou 1535,
                    <br />
                    512 51 Lomnice nad Popelkou
                    <br />
                    <span class="fw-bold text-lg">DIČ:</span> CZ15045404
                    <br />
                    <span class="fw-bold text-lg">Datová schránka:</span>
                    dfjaniq
                    <br />
                    <span class="fw-bold text-lg">Číslo účtu:</span>
                    2502616453/2010
                    <br />
                </p>
            </li>
            <li class="col-span-6 md:col-span-3">
                <div class="mb-4 text-2xl uppercase text-white">Hledat na webu</div>
                <form id="footer-form" action="" method="GET" class="mb-10 grid grid-cols-1 gap-x-2 gap-y-6 sm:grid-cols-3">
                    <input type="text" name="q" class="custom-input sm:col-span-2" placeholder="Vyhledat" />
                    <button type="submit" class="btn">Hledat</button>
                </form>
                <p class="text-left leading-7">
                    <a target="_blank" href="https://rozpis.hclomnice.cz">Rozpis ledu</a>
                    <br />
                    <a target="_blank" href="https://clen.hclomnice.cz">Klubový informační systém</a>
                    <br />
                    <a href="https://www.ceskyhokej.cz/ " target="_blank">Český hokej</a>
                    <br />
                    <a href="https://liberecky.ceskyhokej.cz/">Hokej Liberecký kraj</a>
                    <br />
                    <a href="http://www.hokej.cz" target="_blank">Hokej.cz</a>
                    <br />
                    <a href="http://www.onlajny.com">Onlajny.com</a>
                </p>
            </li>
        </ul>

        <p class="text-gray-100 col-span-10 text-center text-xs">
            &copy; 2025 HC Lomnice n. Popelkou &
            <a class="link-underline link-underline-normal" href="https://esportsmedia.cz/" target="_blank">eSports.cz</a> |
            <a href="javascript:void(0);" data-cc="c-settings" aria-haspopup="dialog" class="link-underline link-underline-normal">Cookies</a>
        </p>
    </div>
</footer>

<div style="display: none">@@include('svg-symbols.html')</div>
