<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<style>
    @font-face {
        font-family: 'Roboto';
        src: url('./dist/font/Roboto-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Rajdhani';
        src: url('./dist/font/Rajdhani-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }
</style>

<link rel="stylesheet" type="text/css" href="./dist/css/style.css" />
<script defer src="./dist/js/main.js"></script>
<script defer src="./dist/js/cookie-consent-config.js"></script>
<script defer src="./dist/js/cookie-consent.js"></script>
<script defer src="./dist/js/cookie-consent-social.js" type="text/plain" data-cookiecategory="social"></script>

<title>@@title</title>
