<header class="sticky top-0 z-50">
    <div class="bg-secondary">
        <ul class="container hidden py-4 text-white xl:flex xl:items-center xl:justify-end xl:gap-4">
            <li>
                <a href="https://rozpis.hclomnice.cz/" target="_blank" class="flex items-center gap-2">
                    <svg class="fill-white" width="16" height="16">
                        <use href="#calendar"></use>
                    </svg>
                    Rozpis ledu
                </a>
            </li>
            <li>
                <a href="#" target="_blank" class="flex items-center gap-2">
                    <svg class="fill-white" width="16" height="16">
                        <use href="#webcamera"></use></svg
                    >Webkamera</a
                >
            </li>
            <li>
                <a href="https://www.facebook.com/hclomnice.cz" target="_blank" class="flex items-center gap-2">
                    <svg class="fill-white" width="16" height="16">
                        <use href="#facebook"></use>
                    </svg>
                    Facebook
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/hc_lomnice1920" target="_blank" class="flex items-center gap-2">
                    <svg class="fill-white" width="16" height="16">
                        <use href="#instagram"></use>
                    </svg>
                    Instagram</a
                >
            </li>
            <li>
                <a href="https://eu.zonerama.com/HCLomnice" target="_blank" class="flex items-center gap-2">
                    <svg class="fill-white" width="16" height="16">
                        <use href="#zonerama"></use>
                    </svg>
                    Zonerama
                </a>
            </li>
        </ul>
    </div>
    <div class="bg-primary">
        <div class="container relative flex items-center justify-between py-3 xl:py-0">
            <a href="index.html" class="z-100 w-14 xl:hidden">
                <img class="h-auto w-full rounded-full" src="./dist/img/logo.jpeg" loading="lazy" alt="" />
            </a>
            <nav class="menu-container">
                <ul class="xl:flex xl:flex-1 xl:justify-end xl:gap-4">
                    <li class="menu-item group">
                        <a class="menu-link" href="#">
                            Klub
                            <div class="xl:hidden">
                                <svg class="menu-plus" width="24" height="24">
                                    <use href="#plus"></use>
                                </svg>
                                <svg class="menu-minus" width="24" height="24">
                                    <use href="#minus"></use>
                                </svg>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Základní</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Kontakty</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Historie</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Vedení klubu</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Nabídka reklamy</a></li>
                        </ul>
                    </li>
                    <li class="menu-item group">
                        <a class="menu-link" href="#">
                            stadion
                            <div class="xl:hidden">
                                <svg class="menu-plus" width="24" height="24">
                                    <use href="#plus"></use>
                                </svg>
                                <svg class="menu-minus" width="24" height="24">
                                    <use href="#minus"></use>
                                </svg>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Základní informace</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Vstupenky a pronájmy</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Rozpis ledu</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Veřejné bruslení</a></li>
                        </ul>
                    </li>
                    <li class="menu-item group">
                        <a class="menu-link" href="#">
                            A-tým
                            <div class="xl:hidden">
                                <svg class="menu-plus" width="24" height="24">
                                    <use href="#plus"></use>
                                </svg>
                                <svg class="menu-minus" width="24" height="24">
                                    <use href="#minus"></use>
                                </svg>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Zápasy</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Tabulka</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Soupiska</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Statistiky</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Realizační tým</a></li>
                        </ul>
                    </li>
                    <li class="menu-item group">
                        <a class="menu-link" href="#">
                            mládež
                            <div class="xl:hidden">
                                <svg class="menu-plus" width="24" height="24">
                                    <use href="#plus"></use>
                                </svg>
                                <svg class="menu-minus" width="24" height="24">
                                    <use href="#minus"></use>
                                </svg>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Klubová strategie</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Nábory</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Rozcestník mládeže</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Realizační týmy mládeže</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Škola bruslení</a></li>
                        </ul>
                    </li>
                </ul>
                <a class="mx-4 hidden h-auto w-40 xl:block" href="index.html">
                    <img
                        class="absolute -top-2/3 left-0 right-0 mx-auto rounded-full object-contain transition-transform hover:scale-105"
                        src="./dist/img/logo.jpeg"
                        width="120"
                        height="120"
                        loading="lazy"
                        alt=""
                    />
                </a>
                <ul class="xl:flex xl:flex-1 xl:gap-4">
                    <li class="menu-item group"><a class="menu-link" href="#">Fotogalerie</a></li>
                    <li class="menu-item group">
                        <a class="menu-link" href="#">
                            Fanzona
                            <div class="xl:hidden">
                                <svg class="menu-plus" width="24" height="24">
                                    <use href="#plus"></use>
                                </svg>
                                <svg class="menu-minus" width="24" height="24">
                                    <use href="#minus"></use>
                                </svg>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Diskuzní fórum</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Ptejte se</a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Fanshop</a></li>
                            <li class="dropdown-menu-item">
                                <div class="dropdown-menu-link">Sociální sítě: <a href="#">Instagram</a> / <a href="#">Facebook</a></div>
                            </li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">Fan club </a></li>
                        </ul>
                    </li>
                    <li class="menu-item group"><a class="menu-link" href="#">Partneři</a></li>
                    <li class="menu-item group">
                        <a class="menu-link" href="#">
                            KIS
                            <div class="xl:hidden">
                                <svg class="menu-plus" width="24" height="24">
                                    <use href="#plus"></use>
                                </svg>
                                <svg class="menu-minus" width="24" height="24">
                                    <use href="#minus"></use>
                                </svg>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#">KIS přihlášení </a></li>
                            <li class="dropdown-menu-item"><a class="dropdown-menu-link" href="#"> KIS registrace člena </a></li>
                        </ul>
                    </li>
                    <li class="menu-item text-white xl:hidden">
                        <a href="https://rozpis.hclomnice.cz/" target="_blank" class="menu-link"> Rozpis ledu </a>
                    </li>
                    <li class="menu-item text-white xl:hidden">
                        <a href="https://www.youtube.com/watch?v=ehaErII8Gqg" target="_blank" class="menu-link"> Webkamera</a>
                    </li>
                    <li class="menu-item text-white xl:hidden">
                        <a href="https://www.facebook.com/hclomnice.cz" target="_blank" class="menu-link"> Facebook</a>
                    </li>
                    <li class="menu-item text-white xl:hidden">
                        <a href="https://www.instagram.com/hc_lomnice1920" target="_blank" class="menu-link"> Instagram</a>
                    </li>
                    <li class="menu-item text-white xl:hidden">
                        <a href="https://eu.zonerama.com/HCLomnice" target="_blank" class="menu-link">Zonerama </a>
                    </li>
                </ul>
            </nav>
            <button class="burger-menu" type="button" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <svg width="24" height="18">
                    <use href="#menu"></use>
                </svg>
            </button>
        </div>
    </div>
</header>
<script src="./dist/js/menu.js" async></script>
