<nav aria-label="Stránkování">
    <ul class="flex items-center justify-center gap-2">
        <li>
            <a href="#" class="hover:bg-secondary grid aspect-square w-8 place-items-center bg-primary p-1 transition-colors">
                <span class="sr-only">Novější</span>
                <svg class="rotate-180 fill-white" width="16" height="16">
                    <use href="#arrow"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#" class="bg-secondary grid aspect-square w-8 place-items-center p-1 text-white transition-colors"> 1 </a>
        </li>
        <li>
            <a href="#" class="hover:bg-secondary grid aspect-square w-8 place-items-center bg-primary p-1 text-white transition-colors"> 2 </a>
        </li>
        <li>
            <a href="#" class="hover:bg-secondary grid aspect-square w-8 place-items-center bg-primary p-1 text-white transition-colors"> 3 </a>
        </li>
        <li>
            <a href="#" class="hover:bg-secondary grid aspect-square w-8 place-items-center bg-primary p-1 transition-colors">
                <span class="sr-only">Starší</span>
                <svg class="fill-white" width="16" height="16">
                    <use href="#arrow"></use>
                </svg>
            </a>
        </li>
    </ul>
</nav>
